# .gitignore à la racine de ton projet

# Ignorer environnements virtuels
env/
venv/

# Ignorer fichiers compilés
__pycache__/
*.pyc

# Ignorer les fichiers de config privés
.env

# Ignorer fichiers système
.DS_Store

# Ignorer la base de données et les fichiers CSV
BDD_alternance.db
données_de_base.csv

# Ignorer les pages enregistrées et autres fichiers temporaires
pages_enregistrées/
curl_url/
roadmap.txt

# Ignorer les fichiers temporaires générés par l'application
tempfile/
